* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "mostra-nuova",sans-serif;
	font-size: 15px;
	color: #09202f;
	border-top: solid 15px #103853;
}

h1 {
  font-family: "lush",sans-serif;
  color: #09202f;
  font-size: 60px;
}

h2 {
  font-family: "mostra-nuova",sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #103853;
}

header {
	width: 95%;
	margin: auto;
	text-align: center;
}

#logo {
	width: 80%;
	text-align: center;
}