* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "mostra nuova",sans-serif;
	font-size: 15px;
	color: #09202f;
	border-top: solid 15px #103853;
}

h1 {
  font-family: "lush",sans-serif;
  color: #09202f;
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-family: "mostra nuova",sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #bf1c2e;
  margin: 0;
}

p {
	line-height: 1.5em;
}

a, a:visited {
	text-transform: uppercase;
	font-size: 32px;
	color: #09202f;
	text-decoration: none;
}

a:hover {
	color: #d48e4a;
}

a:active {
	color: #bf1c2e;
}

nav ul li a {
position: relative;
}

.link-effect a {
	padding: 0 0 5px;
}

.link-effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #d48e4a;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.link-effect a:hover::after,
.link-effect a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/*.current a {
	border-bottom: solid 4px #09202f;
	padding-bottom: 3px;
}*/

header {
	width: 95%;
	margin: auto;
	text-align: center;
}

nav {
	padding-bottom: 70px;
}

nav ul {
	list-style-type: none;
	padding: 0 15%;
	margin: 0;
}

nav ul li {
	display: inline;
}

section {
	padding: 0px 20px;
	margin-bottom: 70px;
}

#logo {
	width: 80%;
	text-align: center;
	margin-bottom: 10px;
}

#link1 {
	float: left;
}

#link2 {
	float: right;
}

.pretty-divider {
	margin-top: 10px;
	background-image: url(../img/gold-line.png);
	background-repeat: repeat-x;
	background-position: center;
	background-size: 30%;
}

.flourish {
	width: 60px;
	padding: 0px 5px;
	background-color: #ffffff;
}

#banner {
	background-image: url(../img/cheese.jpg);
	background-size: 110%;
	background-repeat: no-repeat;
	background-color: #09202f;
}

#banner h1 {
	width: 60%;
	line-height: 48px;
	color: #ffffff;
	padding: 40px 20px;
	margin-top: 20px;
	font-weight: normal;
}

.button {
	margin: 50px 0px 50px 0px;
}

.button a {
	padding: 10px 20px;
	border: solid 3px #bf1c2e;
	color: #bf1c2e;
}

.button a:hover {
	color: #fff;
	background-color: #d48e4a;
	border: solid 3px #d48e4a;
}

.fancy-image {
	position: relative;
	margin-bottom: 20px;
}

.fancy-image img {
	width: 100%;
}

.inner-padding {
	position: absolute;
	left: 2.25%;
	top: 3.25%;
	width: 95%;
	height: 91.5%;
}

.inner-border {
	width: 100%;
	height: 100%;
	border: 1px solid #ffffff;
}


/*tablet*/
@media (min-width: 750px) {
	#logo {
		width:33%;
		float: left;
		margin-bottom: 5px;
	}

	nav {
		width: 65%;
		float: right;
		margin-top: 100px;
	}

	.pretty-divider {
		clear: both;
	}

	#banner h1 {
		padding: 120px 0px 100px 20px;
		font-size: 100px;
	}
}

/*computer*/
@media (min-width: 830px) {
	h1 {
		margin-top: 0px;
	}

	nav {
		width: 67%;
	}

	nav ul {
		padding: 0px 15%;
	}

	section {
		width: 45%;
		float: left;
		margin-top: 50px;
	}

	a {
		font-size: 40px;
	}
}